<table class="data table table-striped no-margin" style="text-align: center; width: 100%">
  <thead>
    <tr>
      <th style= "text-align: center">Hora de entrada</th>
      <th style= "text-align: center">Hora de salida</th>
    </tr>
  </thead>
  <tbody>
      <%- employee.hours.each do |f| %>
        <% if (f.time_in..f.time_out).overlaps?(from..to) %>
          <tr>
            <td><%= nice_date_time(f.time_in) %></td>
            <td><%= nice_date_time(f.time_out) %></td>
          </tr>
        <% end %>
      <%- end %>
  </tbody>
</table>
<%= link_to new_employee_hour_path(employee), {:remote => true, 'data-toggle' =>  "modal", 'data-target' => '#addHours', class: "btn btn-success"} do %>
  <i class="fa fa-edit m-right-xs"></i> Anadir Horas
<% end %>
