<div id="chart_div" style="margin: 0px auto; width:50%">
  <% data_val = employee.get_hours(from, to).values %>
  <% data = {
    labels: ["Normal", "25%", "50%", "75%", "100%"],
    datasets:
      [
        {
          data: data_val.map{|x| (x/60)},
          backgroundColor: "rgba(61, 198, 185, 0.7)",
          borderColor: "rgba(0,0,0,1)"
        }
      ]
  } %>

  <% options = {
    legend: {display: false},
    scales: {yAxes: [{ticks: {beginAtZero:true}}]},
    title: {display: true, text: "Cantidad De Horas"}
  } %>

  <div>
    <%= bar_chart data, options %>
  </div>
</div>
